/* :root {
    --main-color: #252526;
    --text-color: white;
  } */


  
  .item img {

    width: 50px;
    border-radius: 50%;
  
  }

  .item {
    color: brown;
    /* margin-left: 10px; */
    margin-top: 10px;
  }