/* :root {
    --main-color: #252526;
    --text-color: white;
  } */

/* .content {
    grid-area: c;
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: 10px;
  
  } */
  
  .mainImg {
    min-width: 100%;
    max-height: 430px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.3;
  
  }

  .descriptionBlack {
    padding: 10px;
  }