.news {
    margin-left: 10px;
    margin-top: 10px;
    /* border-image: url('./../../img/dialogs.jpeg'); */
}

/* .dialog_img {
    width: 1040px;
    max-height: 430px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.3;
  
  } */